
.error_div {
    width: 500px;
    margin: 15px auto;
    color: red;
}

.error {
    color: red;
    margin: 0px;
    padding: 0px;
}

#message {
    width: 250px;
    height: 20px;
    color: red;
    margin: 0px auto;
}

ul.products li {
    width: 200px;
    height: 240px;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    margin: 10px;
    padding: 5px;
    border: 1px dashed gray;
    border-radius: 5px;

}

img {
    width: 100%;
    height: 50%;
}

.card {
    float: right;
    font-size: 35px;
}

.total {
    font-size: 17px;
    text-align: center;
    text-decoration: none;
}

.total:link, :hover, :focus {
    text-decoration: none;
}
.add {
    float: right;
}

.refresh {
    cursor: pointer;
}

.delete {
    float: right;
    cursor: pointer;
}

.buy_now {
    float: right;
}